<!-- SECTION PROFIL : Chaque nouvelle WoR est invitée à ajouter son profil sur le trombi des worriers dans cette section -->
<section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h2>Worriers & Mentors</h2>
        <p>Ce trombi privé est une manière de se présenter entre nous, exposer ses motivations et parler de son application rails !</p>
      </div>
    </div>
  </div>

<section>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#"><img src="http://photos1.meetupstatic.com/photos/member/9/b/a/1/highres_243699841.jpeg" alt="" /></a>
        <div class="caption">
          <h3>Vanessa Ngangue</h3>
          <p><a href="https://github.com/henleyregatta" class="fa fa-github"></a>
          <p>Je fais de l'intégration web et du theming Drupal
          <br><i class="fa fa-code"></i> Pas de projet perso pour le moment et je découvre Ruby.</p>
          <p><i class="fa fa-battery-empty"> WoR Newbee</i>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("orane.jpg", class: "img-responsive") %>
        <div class="caption">
          <h3>Orane Massias</h3>
          <p><a href="#" class="fa fa-github"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a>
          <p>Je suis une codeuse féministe passionnée aventureuse :P
          <br><i class="fa fa-code"></i> Développeuse Drupal (php/JS) en agence :)</p>
          <p><i class="fa fa-battery-2"> 1ère étoile</i>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("camilleA.jpeg", class: "img-responsive") %>
        <div class="caption">
          <h3>Camille Anelli</h3>
          <p><a href="https://github.com/camilleanelli" class="fa fa-github"></a>
          <a href="https://fr.linkedin.com/in/camilleanelli" class="fa fa-linkedin"></a>
          <a href="https://twitter.com/CamilleAnelli" class="fa fa-twitter"></a>
          <p>Je suis curieuse et voyageuse!
          <br><i class="fa fa-code"></i> Développeuse front-end et ruby</p>
          <p><i class="fa fa-battery-2"> 1ère étoile</i>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("sophiakc.jpg", class: "img-responsive") %>
        <div class="caption">
          <h3>Sophia Kecir Camper</h3>
          <p><a href="https://github.com/sophiakc" class="fa fa-github"></a>
          <a href="https://www.linkedin.com/in/sophiakc" class="fa fa-linkedin"></a>
          <a href="https://twitter.com/_sophiakc" class="fa fa-twitter"></a>
          <p>Après avoir bidouillé du CMS sur <a href="http://www.flashmatic.co/">Flashmatic</a>, j'ai fait <a href="https://www.lewagon.com/">LeWagon</a> début 2015 et me revoilà à attaquer la montagne du code à main nue ! :D
          <br><i class="fa fa-code"></i> En train de coder visaeligibility pour que la terre entière sache à quel visa on est éligible pour aller bosser aux US</p>
          <p><i class="fa fa-battery-quarter">1ère étoile</i>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("meo84.png", class: "img-responsive") %>
        <div class="caption">
          <h3>Marine Gallois</h3>
          <p><a href="https://github.com/meo84" class="fa fa-github"></a>
          <a href="https://fr.linkedin.com/in/marine-gallois-072a1621" class="fa fa-linkedin"></a></p>
          <p>Wannabe developer by the end of this year
          <br><i class="fa fa-code"></i> Code Learn Play Repeat!</p>
          <p><i class="fa fa-battery-empty"> WoR Newbee</i></p>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("MarieR.png", class: "img-responsive") %>
        <div class="caption">
          <h3>Marie Rousseau</h3>
          <p><a href="https://github.com/mrouss1" class="fa fa-github"></a>
          <a href="https://fr.linkedin.com/in/rousseaumarie" class="fa fa-linkedin"></a>
          <a href="https://twitter.com/marierousseau13" class="fa fa-twitter"></a></p>
          <p>Chargée de comm' bilingue anglais (yeah yeah) et amatrice de tea Earl Grey.
          <br><i class="fa fa-code"></i> Plein de chose trop géniales.</p>
          <p><i class="fa fa-battery-empty"> WoR Newbee</i></p>
          <!-- <p><i class="fa fa-battery-quarter"> 1ère étoile</i>
          <p><i class="fa fa-battery-half"> Grand bassin</i>
          <p><i class="fa fa-battery-three-quarters"> Mentor</i> -->
        </div>
      </div>
    </div>

    <!-- Recopier cette rubrique et complétez la à la suite -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag("avatar.jpg", class: "img-responsive") %>
        <div class="caption">
          <h3>Prénom Nom</h3>
          <p><a href="#" class="fa fa-github"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-twitter"></a></p>
          <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez, votre parcours...
          <br><i class="fa fa-code"></i> Que comptez vous faire pendant le workshop ?</p>
          <p><i class="fa fa-battery-empty"> WoR Newbee</i></p>
          <!-- <p><i class="fa fa-battery-quarter"> 1ère étoile</i>
          <p><i class="fa fa-battery-half"> Grand bassin</i>
          <p><i class="fa fa-battery-three-quarters"> Mentor</i> -->
        </div>
      </div>
    </div>

  </div>
</section>
